node_modules
.temp
.cache
.wrangler
*.sh

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

static/.pnp.*
static/.yarn/*
static/!.yarn/patches
static/!.yarn/plugins
static/!.yarn/releases
static/!.yarn/sdks
static/!.yarn/versions
